<section class="posts-show">
	<h1><%= link_to @post.title, post_url(@post) %> by <%= @post.author.username %></h1>
	<span>
	Content:
	<%= @post.content %>
	</span>

	<!-- Upvote button -->
	<!-- Downvote Button -->

	<h3>Subs</h3>
	<ul>
		<% @post.subs.each do |sub| %>
			<li><%= link_to sub.title, sub_url(sub) %></li>
		<% end %>
	</ul>

	<h2>Comments</h2>
	<%= link_to 'Comment on this post!', new_post_comment_url(@post) %>

<!-- N + 1 query solution
	<% # @post.top_level_comments.each do |comment| %>
		<%= # render 'comments/comment', comment: comment %>
	<% # end %>
-->


	<% @all_comments.each do |comment| %>
		<% next unless comment.parent_comment_id.nil?  %>
		<%= render 'comments/comment', comment: comment %>
	<% end %>


	<%= link_to 'Edit', edit_post_url(@post) %>
</section>
