<% action = (submit == 'Submit' ? session_url : users_url)  %>
<% header = (submit == 'Submit' ? 'Login' : 'New User!') %>

<h1><%= header %></h1>

<form action="<%=action%>" method="post">
	<%= auth_token %>

	<label for="username">Username</label>
	<input type="text" name="user[username]" id="username" value="<%= user.username %>">

	<label for="password">Password</label>
	<input type="password" name="user[password]" id="password">

	<button type="submit"><%= submit %></button>
</form>

<% if  submit == 'Submit'%>
	<%= link_to 'Sign up!', new_user_url %>
<% end %>
